* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body {
    width: 100%;
    padding: 3% 6%;
}

h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 15px;
}

.first-para {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 2rem;
}

.get-started {
    padding: 20px 45px;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #0046FF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;
}

.book-a-demo {
    padding: 20px 45px;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: #ECF4E8;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.1s;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main-nav-list {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    color: black;
}

.main-list:link,
.main-list:visited {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 700;
    row-gap: 10px;
    transition: all 0.3s;
}

.main-list:hover,
.main-list:active {
    color: black;
    background-color: #6497b1;
    padding: 20px 35px;
    border-radius: 10px;
}

.logIn {
    background-color: #ECF4E8;
    padding: 20px 35px;
    border-radius: 10px;
}

.hero .container {
    margin-bottom: 50px;
    position: relative;
}

.hero {
    height: auto;
    background: url('images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 550px;
}

.hero-img {
    display: none;
}

/* .hero-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -1;
} */

.section2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 30px;
}

.section2 h2 {
    font-size: 44px;
    margin: 35px 35px;
    color: #fff;
    text-indent: -20px;
}

.section2 img {
    height: 400px;
    width: 400px;
    margin-bottom: 35px;
}

.section3 {
    background-color: black;
    color: #fff;
    padding: 35px 30px;
}

.section3 h3 {
    font-size: 44px;
    padding: 50px 50px;
}

.opinion {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.each-opinion-div {
    background-color: #fff;
    color: black;
    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 1rem;
}

.opinion-text {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.opinion-name {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.simple-list {
    list-style: none;
    line-height: 2.2rem;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.grey-box {
    min-height: 350px;
}

.black-box {
    min-height: 450px;
}

.section4 {
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 0 auto;
}

.section4-container {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    align-items: center;
}

.simple-pricing {
    background-color: #ECF4E8;
    color: black;
    padding: 30px 50px;
    border-radius: 1rem;
    max-width: 380px;
    width: 100%;
}

.section4 h3 {
    margin: 20px 0;
    font-size: 40px;
}

.section4-hr {
    margin-bottom: 2rem;
}

.section4-first-para {
    font-size: 20px;
    margin-bottom: 3rem;
}

.premium-pricing {
    background-color: black;
    color: #fff;
    padding: 20px 50px;
    border-radius: 1rem;
    max-width: 450px;
    width: 100%;
}

.pricing-para {
    margin-bottom: 2rem;
    font-size: 20px;
}

.allPrices {
    margin: 20px 0;
    font-size: 16px;
}

.viewfeatures {
    font-size: 16px;
    font-weight: 600;
}

.FAQ-conatiner {
    width: 700px;
    margin: 0 auto;
}

.section5 h3 {
    text-align: center;
    margin: 14px 0;
    font-size: 34px;
}

.FAQ-heading {
    text-align: center;
    padding: 24px 24px;
}

.FAQ-butt {
    border: none;
    outline: 0;
    padding: 15px 30px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
}

.first-butt {
    background-color: #0046FF;
    color: #fff;
}

.hidden {
    display: none;
}

.FAQ-Ques {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin: 30px 0;
    text-align: left;
}

.icon {
    position: absolute;
    right: -20px;
    top: 0;
}

.answer {
    margin-bottom: 20px;
    text-align: left;
}

.section6 {
    background-color: black;
    color: #fff;
    margin: auto;
    padding: 40px 40px;
    min-height: auto;
    height: auto;
}

.footer-logo {
    padding: 40px 40px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}

.email {
    background-color: #ECF4E8;
    color: black;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 16px;
}

.common {
    border: 0;
    outline: 0;
    padding: 10px 10px;
    border-radius: 10px;
}

.email h3 {
    margin-bottom: 10px;
}

.email p {
    margin-bottom: 10px;
}

.email button {
    background-color: #6497b1;
    color: #fff;
    margin-left: 8px;
    margin-top: 10px;
}

.list-commmon {
    list-style: none;
    line-height: 30px;
    color: #aaaaaa;
    font-weight: 400;
    cursor: pointer;
}

footer {
    color: #fff;
    text-align: center;
    background-color: black;
}

/* ----------------- MEDIA QUERY ----------------- */

@media (max-width: 600px) {

    body {
        max-width: 600px;
        padding: 15px;
    }

    h1 {
        font-size: 26px;
    }

    .hero {
        text-align: left;
        background-image: none;
    }

    .hero-img {
        display: block;
        width: 100%;
        margin-top: 25px;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 12px;
    }

    .main-list {
        font-size: 20px;
        padding: 10px;
    }

    .get-started {
        margin-bottom: 20px;
    }

    .hero .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 30px 0;
    }

    .section2 h2 {
        font-size: 26px;
    }

    .section2 img {
        width: 250px;
        height: 250px;
    }

    .section3 .opinion {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 70vh;
    }

    .section3 h3 {
        font-size: 26px;
        padding: 20px;
    }

    .section4 .section4-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 70vh;
    }

    .each-opinion-div {
        margin: 10px 0;
    }

    .simple-pricing,
    .premium-pricing {
        padding: 20px;
    }

    .section4 h3 {
        font-size: 28px;
    }

    .pricing-para {
        font-size: 16px;
    }

    .FAQ-Ques h4 {
        font-size: 14px;
    }

    .section5 .FAQ-conatiner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 70vh;
    }

    .FAQ-heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .section6 .section6-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .email {
        width: 100%;
    }
}
